html {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
 }
 
body{
  margin: 10px auto;
  min-width: 16em;
  //max-width: 80em;
  max-width: 80%;
  font-family: arial;
  font-size: 12px;
  color: #333333;

}
 
nav, main, article, section, aside, footer {
  border-radius: 0px 0.5em 0.5em;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  color: #00325f;
  border-color: #4e9d3e;
}
 
header {
  border-bottom: 3px solid;
  font-size: 20px;
  font-weight: bold;
  color:#009145;
  height: 3.5em;
  padding: 10px 0px 0px 0px;
  margin: 10px;

}

header a {

}

header img {
  width: 2.5em;
  height: 2.5em;
  margin-right: 5px;
  float: right;
}
 
nav {
  padding: 5px 5px 0 5px ;
  background: #ffffff;
  border-color: #4e9d3e;
  color: #00325f;
  
  }

nav ul {
  padding:0;
}
 
nav li {
  font-size: 1em;
  list-style: none;
  margin: 0;
  //padding: 0.5em ;
}
 
nav a {
  border-bottom: 3px solid;
  border-color: #4e9d3e;
  display: block;
  padding:  6px 12px 8px 5px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  background: #FEFEFE; 
  background: linear-gradient(to top, #F0F0F0 20%, #FFFFFF 70%);
  background-position:0px 0px;
  background-repeat: repeat-x;
  color: #00325f;
}


nav ul a:hover, nav ul a:active  {
  background: #99EE66; 
  background: linear-gradient(to top, #99EE66 20%, #FFFFFF 80%);
  background-position:0px 0px;
  background-repeat: repeat-x;
}

nav  .aktiv  {
  background: #99EE66; 
  background: linear-gradient(to top, #99EE66 20%, #FFFFFF 70%);
  background-position:0px 0px;
  background-repeat: repeat-x;
}
 
main {
  display: block;
  background:  #e5ecff;
  background: linear-gradient(to top right, #f4fcff 20%, #feFeff 80%);
  border-color: #4e9d3e;
  min-width: 16em; /* Mindestbreite (der Ueberschrift) verhindert Anzeigefehler in modernen Browsern */
  max-width: 1256px;
  padding: 10px 10px 10px 30px;
  height: auto;
}
 
section {
  background: #F1F3F4;
  border-color: slateblue;
}
 
article {
  background: #ffede0;
  border-color: #df6c20;
}
 
aside {
  background: #ebf5d7;
  border-color: #8db243;
}
 
footer {
  background: #e4ebf2;
  border-color: #8a9da8;
  text-align: right;
  display: block;
  height: auto;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 0 10px;
}
 
footer p {
  float: right;
  margin: 0;

}


  
@media (min-width: 50em) {
  body {
	min-width: 20em;  
	//max-width: 85em;  
	max-width: 100%;  
	font-size: 12px;
  }	


  main {
	min-width: 25em;  
    margin-left: 1em;
  }	
 
  aside {
    float: right;
    width: 12em;
  }  

  nav {
    float: left;
	overflow: hidden;
    width: 20px;
	background: #00BB00;
  }
	
	nav:hover {
	  width: 15em;
	  //float: left;
   	  background: #FFFFFF;
	}
	
  nav:hover + main {
	min-width: 25em;  
    margin-left: 15em;
  }	
  
  
}

.navinfo {
	display:block;
	height: 30px;
	overflow: hidden;
}

@media (min-width: 1300px)  {	 
  body {
	min-width: 20em;  
	//max-width: 85em;  
	max-width: 97%;  
	font-size: 12px;
  }	


  nav {
    float: left;
    width: 15em;
	background: #FFFFFF;
  }
  main {
	min-width: 25em;  
    margin-left: 15em;
	
  }	
 
  aside {
    float: right;
    width: 12em;
  }  
  
  .kaltab {
	width: 100%;
  }
}

@media (min-width: 45em)  {	
  article {
    margin-right: 15em;
	font-size: 12px;
  }
}




#wait {
	display: none;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: #000000;
	opacity: 0.6;
	color: #009145;
	position: absolute;
}

#waittext {
	display: block;
	font-size:  30px;
	font-weigth:  bold;
	text-align: center;
	color: #009145;
	top: 250px;
	left: 350px;
}


.DSSuche {
//	display: block;
	width: 95%;
//	height: 30px;
    padding: 10px;
	margin: 0 0 10px 0;
	border: 1px solid #EEEEEE;
	background: #CCD2CC; 
	//background: linear-gradient(to top, #CCD2CC 20%, #FFFFFF 70%);
	border-radius: 7px;
	box-shadow: 3px 3px 3px grey;
	z-index: 0;
	display: flex;
	flex-flow: row wrap;
}


.DSEdit {
//	display: block;
	width: 95%;
//	height: 450px;
    padding: 10px;
	margin: 0 0 10px 0;
	border: 1px solid #EEEEEE;
	background: #EEF1EE; 
	border-radius: 7px;
	box-shadow: 4px 4px 3px grey;
	z-index: 0;
	//float: left;
	align: right;
	display: flex;
	flex-flow: row wrap;
}

.DSEdit input {
	width: 90%;
	padding: 5px;
}
.DSEdit button {
	width: 8%;
	padding: 2px;
	font-size: 12px;
	font-weight: bolder;
}

.packed {
	background: #22FF33; 
}
.partpacked {
	background: #FFFF33; 
}

.smallBorder {
    padding: 5px;
	margin: 0 0 0 0;
	border: none;
	background: #EEF1EE; 
	border-radius: 7px;
	box-shadow: none;
}

.mediFont {
	font-size: 1.3em;
}

.bigFont {
	font-size: 2em;
}

.centerText {
	text-align: center;
}

.flexnowrap {
		flex-flow: row nowrap;
}


.DSFeld1 {
	display: block;
    padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #AAAAAA;
	background: #EEF1EE; 
	border-radius: 5px;
	z-index: 0;
	float: left;
	flex: 1 1 10em;
}


.DSFeld2 {
	display: block;
    padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #AAAAAA;
	background: #EEF1EE; 
	border-radius: 5px;
	z-index: 0;
	float: left;
	flex: 2 1 20em;
}
.DSFeld3  {
	display: block;
    padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #AAAAAA;
	background: #EEF1EE; 
	border-radius: 5px;
	z-index: 0;
	float: left;
	flex: 3 1 30em;
}
.DSFeld4 {
	display: block;
    padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #AAAAAA;
	background: #EEF1EE; 
	border-radius: 5px;
	z-index: 0;
	float: left;
	flex: 4 1 40em;
}
.DSFeld5  {
	display: block;
    padding: 5px 5px 5px 10px;
	margin: 5px;
	border: 1px solid #AAAAAA;
	background: #EEF1EE; 
	border-radius: 5px;
	z-index: 0;
	float: left;
	flex: 5 1 50em;
}

.DSResult {
	display: none;
	width: 100%;
	max-height: 70vh;
	overflow: auto;
    padding: 10px;
	border: 1px solid #EEEEEE;
	background: #EEF1EE; 
	border-radius: 7px;
	box-shadow: 4px 4px 3px grey;
	z-index: 0;
	float: left;
    padding: 0px;
	border: 1px solid #EEEEEE;
	background: #EEF1EE; 
	border-radius: 7px;
	box-shadow: 4px 4px 3px grey;
	z-index: 5;
	
}

.DSResult li {
  display: block;
  padding:  3px 12px 3px 5px;
  margin: 0;
  font-weight: bold;
  text-decoration: none;
  background: #FEFEFE; 
  background: linear-gradient(to top, #F0F0F0 20%, #FFFFFF 70%);
  background-position:0px 0px;
  background-repeat: repeat-x;
  color: #00325f;
}
 
.DSResult li:active, .DSResult li:hover  {
  background: #99EE66; 
  background: linear-gradient(to top, #99EE66 20%, #FFFFFF 80%);
  background-position:0px 0px;
  background-repeat: repeat-x;
}
    
.minibutton  {
  border-bottom: 3px solid;
  border-color: #4e9d3e;
  display: block;
  padding:  3px 20px 3px 20px;
  font-weight: bold;
  max-width: 25%;
  text-decoration: none;
  background: #FEFEFE; 
  background: linear-gradient(to top, #F0F0F0 20%, #FFFFFF 70%);
  background-position:0px 0px;
  background-repeat: repeat-x;
  color: #00325f;
 }
.left  {
  float:left;
}
.right  {
  float:right;
}
 
.minibutton:hover, .minibutton:active  {
  background: #99EE66; 
  background: linear-gradient(to top, #99EE66 20%, #FFFFFF 80%);
  background-position:0px 0px;
  background-repeat: repeat-x;
}



.info {
	display: none;
}


.vtext {
	position: relative;
	width:  auto;
	height: auto;
    top: 50%;
	left: 2px;
	float: none;
	font-size: 0.8em;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(-90deg);
	transform-origin:center center;
}

#infobox {
	display: block;
	height: 30px;
	width:  700px;
	background: #FFFFFF;
	position: relative;
	top:0px;
	left:0px;
	float:left;
	border:	solid 1px #FF0000;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align: left;
}

#infobox :hover {
	height: 100px;
}

.legende {
	display: block;
	position: fixed;
	z-index: 5;
	left: 0px;
	bottom: 0px;
	padding: 10px;
	width: 10px;
	height: 300px;
}

.legende:hover {
	background: #DDDDDD;
	border: solid 1px #555555;
	width: 200px;
}

.legende:hover .legendenelement{
	visibility: visible;
}

.legendenelement {
visibility: hidden;
	display: block;
	float: left;
	width: 150px;
	height: 20px;
	margin: 5px;
	padding: 3px;
}

.register  {
  border-left: 2px solid;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 0px solid;
  border-color: #4e9d3e;
  display: block;
  padding:  3px 40px 3px 40px;
  font-weight: bold;
  max-width: 20%;
  text-decoration: none;
  background: #FEFEFE; 
  background: linear-gradient(to top, #F0F0F0 20%, #FFFFFF 70%);
  background-position:0px 0px;
  background-repeat: repeat-x;
  color: #00325f;
  float: left;
 }
 
 .register2  {
  border-left: 2px solid;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 1px solid;
  border-color: #aaaaaa;
  display: block;
  padding:  3px 40px 3px 40px;
  font-weight: bold;
  max-width: 20%;
  text-decoration: none;
  background: #FEFEFE; 
  background: linear-gradient(to top, #F0F0F0 20%, #FFFFFF 70%);
  background-position:0px 0px;
  background-repeat: repeat-x;
  color: #aaaaaa;
  float: left;
 }
 
 error {
	display: block;
	height: 70px;
	width:  90%;
	background: #FFFFFF;
	border:	solid 1px #FF0000;
	color: #FF0000;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align: left;
	margin: 10px;
	padding: 10px;
}

.kaltab {
	width: 95%;
	border: solid 1px green;
	border-collapse: collapse;
	table-layout:fixed; 
	width:auto;
}

.kaltab thead
{
    display: block;
    overflow: auto;
   // height: 20px;
   padding: 0 20px 0 0;
}


.kaltab tbody 
{
    display: block;
    overflow: auto;
    height: 500px;
}

.kaltab th {
	border-top: solid 1px green;
	border-bottom: solid 1px green;
	border-spacing: 0px; 
	max-width: 90px;
	min-width: 80px;
	font-weight: bold;
	padding: 5px;
	overflow: 
}

.kaltab td {
	border: solid 1px green;
	border-spacing: 0px; 
	max-width: 90px;
	min-width: 80px;
	padding: 3px;
}

.ukaltab {
	width: 95%;
	border: solid 1px green;
	border-collapse: collapse;
}
.ukaltab th {
	border-top: solid 1px green;
	border-bottom: solid 1px green;
	border-spacing: 0px; 
	font-weight: bold;
	padding: 5px;
	overflow: 
}

.ukaltab td {
	border: solid 1px green;
	border-spacing: 0px; 
	padding: 5px;
}


.vorlagetab {
	border: solid 1px green;
	border-spacing: 0px; 
	padding: 3px;
	width: 62px; 
	height: 35px; 
	text-align: center; 
	vertical-align: center; 
	float: left;
	margin:  5px 2px 5px 0px
}

.vorlagetab:hover  {
	border: solid 2px red;
	border-spacing: 0px; 
	padding: 3px;
	width: 62px; 
	height: 35px; 
	text-align: center; 
	vertical-align: center; 
	float: left;
}

.vorlagetab_sel {
	border: solid 1px green;
	outline: solid 2px red;
	border-spacing: 0px; 
	padding: 3px;
	width: 62px; 
	height: 35px; 
	text-align: center; 
	vertical-align: center; 
	font-weight: bolder;
	float: left;
	margin:  5px 2px 5px 0px;
}
	
#editTD {
	position: 	fixed;
	display: 	none;
	width:		780px;
	height:		400px;
	left:		100px;
	top:		180px;
}

.showonhover {
	display: block;
	width: 100%;
	height: 20px;
	margin: 2px 2px 2px 90% ;
	padding: 3px;
	overflow: hidden;
	background: #BBBBFF;
}

.showonhover:hover {
	display: block;
	width: 100%;
	height: auto;
	float: none;
	margin: 2px 2px 2px 2px;
}

.rating {
    float:left;
    width:90%;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
}
.rating span label {
    display:inline-block;
    width:80px;
    height:40px;
    text-align:center;
    background:#ccc;
    font-size:10px;
    padding-top:10px;
    margin-right:2px;
    line-height:30px;

}

.oderinfo {
	display: block;
	width: 30%;
	//height: 100px;
    padding: 5px;
	margin: 0 30px 20px 0;
	border: 1px solid #EEEEEE;
	background: #EEF1EE; 
	border-radius: 7px;
	box-shadow: 4px 4px 3px grey;
	z-index: 0;
	float: right;

}

.orderinfoname {
	display: block;
	height: 20px;
    padding: 2px 5px 5px 5px;
	margin: 0px;
	background: #EEF1EE; 
	z-index: 0;
	float: left;
	width: 45%;
}

.oderinfoitem {
	display: block;
	height: 20px;
    padding: 2px 5px 5px 5px;
	margin: 0px;
	background: #EEF1EE; 
	z-index: 0;
	float: left;
	width: 50%;

}

#OrderFinished {
	display: none;
	left: 20%;
	top: 25%;
	min-width: 500px;
	max-height: 700px;
	width: 60%;
	//height: 60%;
	background: #f5fcff; 
	color: #009145;
	position: 	fixed;
	padding: 0px 10px 10px 10px;
	border: 2px solid #22BB22;
	z-index: 9;
	border-radius: 7px;
	box-shadow: 4px 4px 3px grey;
	overflow-y:scroll;
	overflow-x:hidden;
}

.windowheadline {
	display: block;
	left: 0px;
	margin: 0 0px 0 -10px;
	top: 0px;
	width: 103%;
	height: 20px;
	background: #d5dcdf; 
	color: #009145;
	position: relative;
	text-align: right;

}

.btnStyle {
	width: 8%;
	padding: 2px;
	font-size: 12px;
	font-weight: bolder;
	background: #cccccc;
	float: right;
	text-align: center;
	border: 1px solid silver;
}

.resultBox {
	display: block;
	font-family: monospace;
    white-space: pre;
    margin: 1em 0;
	height: 200px;
	width:  90%;
	background: #FFFFFF;
	position: relative;
	top:0px;
	left:0px;
	float:left;
	border:	solid 1px #FF0000;
	overflow-x:hidden;
	overflow-y:scroll;
	text-align: left;
}
